extends base.pug

block scripts 
    script(src="/static/index.js")

block style 
    style 
         include ../static/style.css
         include ../static/styleAbout.css
block content 
        h1.aboutuem About Uem Kolkata
        div.Aboutintro
                div.Aboutuemintro
                    h3 UEM Kolkata is established in the year 2014 by Act No 25 of 2014 of Govt of West Bengal. Being located in New Town, the Smart City of Eastern India and very near to the Netaji Subhash International Airport, the students of the University are exposed to the top corporates. UEM Kolkata has stood one out of the top 10 institutes of India including all IITs and all NITs of the country in the NPTEL program ranked by IIT Kharagpur and IIT Chennai. The IEM UEM group is an acclaimed educational group amongst the industry-centred academic training organisations of today. IEM has set sublime standards in addressing the technical and managerial resource shortage in the new era of dynamic globalisation. The IEM UEM group has risen to fame for its strong foundation in teaching and R&D in multifaceted areas. It aims to serve the future generation as well as the Nation through its commitment towards self sufficiency and unmatchable excellence. Since its inception, the IEM UEM group has surpassed innumerable benchmarks of achievements and accreditations. Today IEM flaunts a colossal network of expansive operations led by an awe-inspiring student force who are the torchbearers of a better tomorrow. The IEM UEM Group has opened up the doors for young minds who dare to dream. It encourages the spirit of free enquiry and imagination. In this temple of learning, dreams take shape. The educational group attempts to inculcate the sense of human values and discipline in students to make them respectable human beings. It encourages learners to learn, to realize their potential and imbibe the best practices.
        div.About
                div.Aboutcardfac
                     h1  The Faculty 
                     h3 The educational group believes that combination of good teachers and good students is the basic and most important aspect of achieving academic excellence. It is strength of our faculty consisting of professors from renowned institutes such as IIT Kharagpur and IIM Kolkata. We have academicians, professionals as well as dignitaries of the business world. The educational group is a true realm of the finest faculty members who has the spirit and standards to bring the best out of its students.
                div.Aboutcardcam
                     h1 The Campus
                     h3  All round excellence in management and engineering discipline is attained only by close interaction with the allied industries. To facilitate close interaction of modern industries, as well as to draw upon the vast academic & professional resources of a vibrant industrial sector.
                div.Aboutcardpla
                     h1 Placement
                     h3  The educational group has one of the strongest Placement Cells in the country. for both its first two passout batches, the Jaipur campus of UEM have provided for 1 to 2 jobs on an average for all its students. Various professionals from corporate bodies are invited to address the students of UEM Kolkata to give them an idea of the requirements in the industry. Pre-placements talks are organized to orient the students towards the organization they represent, the job profiles, the interview process and their expectations from the prospective candidate. In addition to Soft Skills Development Programme (SSDP), the Higher Career Training Programme (HCTP) has also been introduced to assist students in their preparation for competitive examinations including GATE. 
        div.About
                div.Aboutcardlib
                     h1 Library
                     h3  A beautiful & modern library well updated books, journals & multimedia learning aids, provides the student an opportunities to keep themselves well versed with all engineering & management related information. IEM UEM group has excellent library with over 2,50,000 books, journals, magazines & e-journals for complementing the academic endeavors.
                div.Aboutcardhos
                     h1 Hostel
                     h3  The educational group has quality vegetarian and non-vegetarian food served in its canteens which include North Indian, South Indian, Eastern and Western Indian cuisine. Exclusive hostel facilities for boys and girls are provided which ensures total security and a strict discipline required for healthy living conditions.
                div.Aboutcardalu
                     h1 Alumni 
                     h3 The Alumni association is active in maintaining the student’s relation in IEM UEM Group and also it is a platform for the old pals to meet and interact regularly. Some of our Ex-students are working as Director/Manager in companies like SAP, Oracle, Facebook, Juniper, TCS and many more. Our students are doing higher education in many prestigious universities like University of South California, Illinois Institute of Technology, Chicago, Saarland University, Saarbrucken, Germany and many more. 