doctype html
html
  head
    title University of engineering and management
    block scripts
    block style   
  body
    nav#navbar
          ul
              div#logo
                   img(src ="/static/images/logo.png")
              li #[a(href="/") Home]
              li #[a(href="/About") About Us]
              li #[a(href="/contact") Contact Us]  
              
    block content 
    footer#footer
          div.FirstLayer
                div.SecondLayer
                    div.innerFirst
                        h1 Our campuses
                          li 
                            a(href="https://uem.edu.in/uem-kolkata/") Uem kolkata 
                            a(href="https://uem.edu.in/uem-jaipur/") Uem Jaipur
                            a(href="https://iem.edu.in/") Iem Gurukul Campus
                            a(href="https://iem.edu.in/") Iem Management Campus
                            a(href="https://iem.edu.in/") Iem Ashram Campus

                    div.innerSecond
                        h1  Admissions
                            li 
                             a(href="https://uem.edu.in/uem-jaipur/admissions/") Application Procedure 
                              a(href="https://uem.edu.in/uem-jaipur/scholarships/") Scholarship Scheme
                              a(href="https://uem.edu.in/uem-jaipur/placements/") Career

                    div.innerThird
                        h1 News and Media
                          li 
                            a(href="https://uem.edu.in/uem-jaipur-blog/") Uem Jaipur Blog
                            a(href="https://uem.edu.in/uem-jaipur/tag/university-daily-news/") Events
                            a(href="https://uem.edu.in/uem-jaipur/uem-campus/") Photo Gallery
                    div.innerFourth
                        h1 Important Links
                            li 
                             a(href="https://uem.edu.in/uem-jaipur/nirf/") NIRF Data 2020
                             a(href="https://www.aicte-india.org/sites/default/files/list-suggested-books-indian-authors-publishers.pdf") List of Books
                             a(href="https://uem.edu.in/uem-jaipur/grievance-cell/") Grievanve Call

             
         



          