extends base.pug

block scripts 
    script(src="/static/index.js")

block style 
    style 
         include ../static/style.css
        

block content 
      section#introsection
            
      section#placements
            h2  WELCOME TO UEM KOLKATA
            div.card
                img(src ="/static/images/vc.jpg") 
                img(src ="/static/images/desc.jpg")
                img(src ="/static/images/modi.jpg")
               
             
      section#morals 
            h2  Rankings
            div.moralflex
                div.card2
                     h1  World champion by developing a gaming console (Amantron Gaming console) IEEE Maker project, IEEE, USA – 2016
                div.card2
                     h1 Rated Silver A+++ Business School “Just Careers” Magazine, 2011
                div.card2
                    h1 1st amongst all students of India including all IITs and NITs NPTEL program (IIT Kharagpur and IIT Chennai), 2016

            div.moralflex2
                div.card2
                     h1 3rd amongst all Government  Private Colleges in West Bengal The Telegraph, 2009
                div.card2
                     h1 Champions Runner-up Award, West NEN (National Entrepreneurship Network) E-Week, 2016
                div.card2
                    h1 Best Debutant Award, West NEN (National Entrepreneurship Network) E-Week, 2015


      section#companies
            h2  Top Recruiters
            div#visit
                img(src="/static/images/capge.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/concen.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/wipro.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/info.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/tcs.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/deo.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/buy.jpg", alt = "companies" ,class="capgeimage")
                img(src="/static/images/digital.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/amazon.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/Lt.png", alt = "companies" ,class="capgeimage")
                img(src="/static/images/keer.png", alt = "companies" ,class="capgeimage")
      section#approvals
            h2 Approvals
            h1 UEM IS A GOVERNMENT APPROVED AND UGC RECOGNIZED UNIVERSITY.

           

            div.approvalcont
                 img(src="/static/images/aicte.png",alt="approvals",class="approvalimage")
                 img(src="/static/images/ugc.jpg",alt="approvals",class="approvalimage")
            div.approvalcont2
                 img(src="/static/images/approval1.jpg",alt="approvals",class="approvalimage2")
                 img(src="/static/images/approval2.jpg",alt="approvals",class="approvalimage2")
      