@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.cont{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.07rem 0;
    background-color:pink;
    
}

.Aboutcard{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 37.37rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color: white;
}
.About{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Aboutcard h3{
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcard h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutuemintro{
    border: 2px solid black;
    border-radius: 10px;
    width: 75rem;
    margin: 2.6rem 1.68rem;
    height: 31rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 4.5rem;
    font-size: 1rem;
    background-color: #41c5ec;
    font-family: 'Redressed', cursive;
}
.Aboutuemintro h3{
    padding: 3.1rem;
}
.Aboutcardfac{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 25rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color: #84de82;
    
}
.Aboutcardfac h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardfac h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutcardcam{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 20rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color: #d6ea2a;
}
.Aboutcardcam h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardcam h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutcardpla{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 30rem;
    display: inline-block;
    padding-left: 0px;
    margin-right:5.53rem;
    font-size: 1rem;
    background-color: #d5c9ec;
}
.Aboutcardpla h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardpla h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutcardlib{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 24rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color: beige;
}
.Aboutcardlib h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardlib h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutcardhos{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 24rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color:aquamarine;
}
.Aboutcardhos h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardhos h1{
    margin-left: 8.5rem;
    color: red;
}
.Aboutcardalu{
    border: 2px solid black;
    border-radius: 10px;
    width: 34.92rem;
    margin: 3.23rem 2.07rem;
    height: 24rem;
    display: inline-block;
    padding-left: 0px;
    margin-right: 5.53rem;
    font-size: 1rem;
    background-color: #ffc31a;
}
.Aboutcardalu  h3 {
    margin: 1.87rem;
    font-family: 'Redressed', cursive;
    font-size: 1rem;
    
}
.Aboutcardalu h1{
    margin-left: 8.5rem;
    color: red;
}
.aboutuem{
    font-family: 'Oxygen', sans-serif;
    padding-top: 0.81rem;
    padding-bottom: 2.3rem;
    text-align: center;
    font-size: 1.8rem;
    color: red;
    background: bisque;
    
}
body{
    background-color:pink;
}
.Aboutintro{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1372px){
    .About{
        flex-direction: column;
    }

    
}


