/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.how-section1 {
    margin-top: -15%;
    padding: 10%;
}

.how-section1 h4 {
    color: darkmagenta;
    ;
    font-weight: bold;
    font-size: 35px;
}

.how-section1 .subheading {
    color: #3931af;
    font-size: 25px;
}

.how-section1 .row {
    margin-top: 13%;
}

.how-img {
    text-align: center;
}

.how-img img {
    width: 45%;
}

body {
    background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%),
        linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
}